@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --main-color:#E5E5E5;
    --change-color:#FCA311;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform:capitalize ;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background:url(https://th.bing.com/th/id/OIP.eN_aCSqQj2pO_DvxLVx-fAHaE7?rs=1&pid=ImgDetMain);
    padding-left: 30rem;
}

header{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background: #14213D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 34rem;
}

header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color:var(--change-color) ;
}

header  .navbar a{
    font-size: 2.5rem;
    color: white;
    display: block;
    margin:2rem 0;
}

header  .navbar a:hover{
    letter-spacing: 1rem;
    color: var(--change-color);
}

header .follow a{
    font-size: 2.5rem;
    color: #E5E5E5;
    margin: 0 .7rem;
}

header .follow a:hover{
    color: var(--change-color);
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #E5E5E5;
    font-size: 35px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform:  scale(1.5);
    color: #FCA311;
}

#menu{
    position: fixed;
    top:1rem;
    right: 1rem;
    z-index: 1000;
    background: #14213D;
    color: #FCA311;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/*************section homepage****************/
section{
    padding: 1rem 5%;
    min-height: 100vh;
}

.banner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner .image{
    flex: 1 1 40rem;
}

.banner .image img{
    width: 100%;
}

.banner .content{
    flex: 1 1 40rem;
}

.banner .content .hi{
    font-size: 2rem;
    color: black;
}

.banner .content h3{
    font-size: 3.9rem;
    color: #14213D;
    text-transform: uppercase;
}

.banner .content h3 span{
    font-size: 4rem;
    color: #FCA311;
    font-family: sans-serif;
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    text-transform: uppercase;
}

.banner .content .info{
    font-size: 2.5rem;
    color: black;
    padding:.5rem 0;
}

.banner .content .text{
    font-size: 1.7rem;
    color: #14213D;
    padding:.5rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    padding:.8rem 3rem;
    background: #FCA311;
    color: #14213D;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #14213D;
    color: #E5E5E5;
    letter-spacing: .2rem;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #14213D;
    text-transform: uppercase;
}

.heading span{
    color: #FCA311;
    text-transform: uppercase;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
}

.about .row-1 .image{
    flex: 1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color: black;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color: #14213D;
    font-size: 1.7rem;
    padding: .5rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color: #FCA311;
    font-weight: bolder;
    font-size: 1.9rem;
}




@media(max-width:991px){
    html{
        font-size: 55%;
    }
    body{
        padding: 0%;
    }
    #menu{
        display: initial;
    }
    header{
        left: -120%;
    }
    header.active{
        left: 0%;
    }
}