@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background:white
}
.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 270px;
    height: 100%;
    background: #E5E5E5;
    padding-top: 15%;
    font-weight: 150;
    font-family: "Archivo Black";
}

.name{
    height: 250px;
    width: 260px;
    padding-left: 10px;
    position:fixed;
    z-index: 2;
    background: linear-gradient(90deg,#06308a,#060b17);
}

.name h1{
    padding-top: 30px;
    font-size: 40px;
    color: #FCA311;
    margin-left: 20px;
    font-family: "Archivo Black";
}
.name h4{
    color: white;
    padding-top: 20px;
    font-size: 15px;
    margin-left: 20px;
    font-family: "Archivo Black";
}
.wrapper .sidebar ul{
    padding-top: 3%;
    padding-bottom: 30%;
}

.wrapper .sidebar ul li{
    /*border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05 );*/
    font-size: large;
    padding-top:18%;
    padding-left: 20%;
    
}

.wrapper .sidebar ul li a{
    color: #14213D;
    font-size: 20px;
    text-decoration: none;
    display: block;
}


.wrapper .sidebar ul li a .fa{
    width: 40px;
}

.wrapper .sidebar ul li:hover{
    background:white ;
}


.wrapper .sidebar ul li:hover a{
    color: #FCA311;
}

.wrapper .sidebar ul li:hover a .fa{
    color: #FCA311;
}

a:link {
    color:rgba(44, 45, 49, 0.8);
    text-decoration: none;
}

/*mouse over link*/

/*visited link*/
a:visited{
    color: rgba(44, 45, 49, 0.8);
}

/*selected link*/
a:active{
    color:rgba(44, 45, 49, 0.8);
}
 
.main{
    background:#060b17;
    left: 270px;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    text-align: center;
}

.main h1{
    width: 1000px;
    color: #FCA311;
    font-family: "Archivo Black";
    font-size: 6svh;
    padding-top: 20%;
    padding-left: 10%;
    text-align: center;
}

.main p{
    width: 900px;
    color: #E5E5E5;
    font-family: "Bree serif";
    font-size: 4svh;
    padding-top: 5%;
    padding-left: 10%;
    text-align: center;
    line-height: 60px;
}

#shade{
    background: linear-gradient(to right,#06308a,#5199f7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Archivo Black";
    font-size: 5svh;
}

#size{
    font-size: 3.2svh;
}

#contact{
    color: white;
    font-family: "Archivo Black";
    background-color: #247B9F;
    padding: 15px;
    border: none;
    margin-left: 30%;
}

.icons .fa{
    /*background: linear-gradient(to right,#FCA311,#060b17);
    -webkit-background-clip: text;
    background-clip: text;*/
    color: #E5E5E5;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px;

}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 0;
    padding-top: 3.5%;
    padding-right: 5%;
}

.media-icons a{
    position: relative;
    color: #E5E5E5;
    font-size: 35px;
    transition: 0.3s;
    padding-bottom: 20px;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform:  scale(1.5);
    color: #FCA311;
}

/*.about{
    background: white;
    left: 270px;
    height: 100%;
    position: relative;
    display: block;
    top: 0;
    right: 0;
    text-align: center;
}

.about #nav{
    width: 100%;
    position: relative;
    height: 100px;
    color: #FCA311;
    background: #14213D;
}*/
