@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');:root{
    --main-color:#E5E5E5;
    --change-color:#FCA311;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform:capitalize ;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'DM Serif Display';
}

body{
    background:#FFFFFF;
    padding-left: 30rem;
}

header{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 34rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 3.3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color:#3c96d6 ;
}

header  .navbar a{
    font-size: 2.5rem;
    color: white;
    display: block;
    margin:2rem 0;
}

header  .navbar a:hover{
    letter-spacing: 1rem;
    color:#3c96d6;
}

header .follow a{
    font-size: 2.5rem;
    color: #E5E5E5;
    margin: 0 .7rem;
}

header .follow a:hover{
    color: #3c96d6;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #E5E5E5;
    font-size: 35px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform:  scale(1.5);
    color: #3c96d6;
}

#menu{
    position: fixed;
    top:1rem;
    right: 1rem;
    z-index: 1000;
    background: #3f3273;
    color: #3c96d6;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/*************section homepage****************/
section{
    padding: 1rem 5%;
    min-height: 100vh;
}

.banner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner .image{
    flex: 1 1 40rem;
}

.banner .image img{
    width: 100%;
}

.banner .content{
    flex: 1 1 40rem;
}

.banner .content .hi{
    font-size: 2rem;
    color: black;
}

.banner .content h3{
    font-size: 3.9rem;
    color: black;
    text-transform: uppercase;
}

.banner .content h3 span{
    font-size: 4rem;
    color:#3c96d6 ;
    text-transform: uppercase;
}

.banner .content .info{
    font-size: 2.5rem;
    color: black;
    padding:.5rem 0;
}

.banner .content .text{
    font-size: 1.7rem;
    color: #3f3273;
    padding:.5rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    padding:.8rem 3rem;
    background: #3c96d6;
    color: black;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #3f3273;
    color: #E5E5E5;
    letter-spacing: .2rem;
}

.heading{
    font-size: 4.5rem;
    padding-top: 10px;
    padding-bottom: 1rem;
    color: #3f3273;
    text-transform: uppercase;
}

.heading span{
    color: #3c96d6;
    text-transform: uppercase;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
}

.about .row-1 .image{
    flex: 1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color: black;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color: #3f3273;
    font-size: 1.7rem;
    padding: .5rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
    text-transform: none;
}

.about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
    text-transform: none;
}

.about .row-1 .content .box-container .box span{
    color: #3c96d6;
    font-weight: bolder;
    font-size: 1.9rem;
    text-transform: none;
}

/**************project*****************/
.project .content p{
    font-size: 2rem;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5),black);
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    transition: height 0.5s;
    flex-direction: column;
}

.layer h5{
    color: #3c96d6;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
}

.layer i{
    color: black;
    margin-top: 20px;
    font-size: 20px;
    background:#3c96d6;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}
/***************8skills********************/
.container{
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: .5rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background-color: #E5E5E5;
    margin-bottom: 20px;
}
.container .lan{
    font-size: 2.4rem;
    padding-left: 15px;
    padding-top: 15px;
    text-decoration: none;
}

.container .languages{
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.languages ul{
    list-style: none;
    display: inline-block;
}

.languages ul li{
    display: inline;
}

.languages ul li img{
    width: 100px;
    height: 120px;
    padding: 20px;
}

.tools{
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tools ul{
    list-style: none;
    display: inline-block;
}

.tools ul li{
    display: inline;
}

.tools ul li img{
    width: 100px;
    height: 100px;
    padding: 20px;
}

/*****************************education section********************/

.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #000000;
}

.col .contents .box1{
    position: relative;
    padding: 20px;
    border: 1px solid #E5E5E5;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box1:hover{
    box-shadow: 0px 3px 12px 0px #E5E5E5;
    border: 1px solid transparent;
}

.col .contents .box1::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #3c96d6;
    border: 2px solid white;
}

.box1 h4{
    position: relative;
    color: #3c96d6;
    font-size: 17px;
}

.box1 h3{
    font-size: 21px;
    padding: 10px 0 6px;
    color: #000000;
}

.box1 p{
    line-height: 1.2;
    color: #3f3273;
    font-size: 19px;
}

/************internship****************/
.intern{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.intern .box2{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    background: #E5E5E5;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.intern .box2 i{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3rem;
    font-size: 2.5rem;
    color: #000000;
    background: transparent;
    border-radius: 50%;
    padding: 3px;
}

.intern .box2 h2{
    font-size: 2.5rem;
    color: #000000;
    padding-top: 1rem;
    text-decoration: underline;
}

.intern .box2 h3{
    font-size: 1.8rem;
    color: #3c96d6;
    padding: .5rem;
}

.intern .box2 h4{
    font-size: 1.6rem;
    color: #3c96d6;
    padding: .5rem;
}

.intern .box2 p{
    font-size: 1.4rem;
    color: #3f3273;
    padding-top: .5rem;
}

/*********scholarship***************/
.contents1{
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: 1px solid #E5E5E5;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background-color: white;
    margin-bottom: 20px;
}

.contents1 .box1{
    position: relative;
    padding: 20px;
    border: 1px solid #E5E5E5;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.contents1 .box1:hover{
    box-shadow: 0px 3px 12px 0px #E5E5E5;
    border: 1px solid transparent;
}

.contents1 .box1::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #3c96d6;
    border: 2px solid white;
}

.contents1 .box1 h4{
    position: relative;
    color: #3c96d6;
    font-size: 17px;
}

.contents1 .box1 h3{
    font-size: 23px;
    padding: 10px 0 6px;
    color: #000000;
}

.contents1 .box1 p{
    line-height: 1.4;
    color: #3f3273;
    font-size: 19px;
    text-transform: capitalize;
}

.contents1 .box1 p span{
    line-height: 1.4;
    color: #3f3273;
    font-size: 17px;
    text-transform: capitalize;
}

.contents1 .box1 .modules{
    font-size: 15px;
    padding-left: 15px;
}

.contents1 .box1 .sessions{
    font-size: 15px;
    padding-left: 15px;
}

/********************contact me********************/
.contact .icons-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1px solid #E5E5E5;
}

.contact .icons-container .icons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: #3c96d6;
    color: #000000;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color: #000000;
    font-size: 1.7rem;
}


.contact .icons-container .icons p{
    color: #3f3273;
    font-size: 1.7rem;
    text-transform: none;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row form{
    flex: 1 1 55rem;
    background: white;
    padding:0 2rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border: .1rem solid #333;
    color: #333;
    text-transform: none;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 1rem 0;
    font-family: 'DM Serif Display';
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: #E5E5E5;
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
    font-family: 'DM Serif Display';
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
    font-family: 'DM Serif Display';
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: 'DM Serif Display';
}

#menu-bars{
    position: fixed;
    top:1rem ;
    right: 1rem;
    z-index: 1000;
    background: #000000;
    color: #3c96d6;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    body{
        padding: 0%;
    }

    header{
        left: -120%;
    }
    header.active{
        left: 0%;
    }

    #menu-bars{
        display: flex;
    }

    .container{
        box-sizing: border-box;
        width: 100%;
        height: 350px;
        border: .5rem solid white;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        background-color: #E5E5E5;
        margin-bottom: 20px;
    }

    .about .row-1 .image img{
        height: 400px;
        width: 400px;
        object-fit: cover;
        border: 1rem solid white;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    }
    
    .row img{
        width: 400px;
        border-radius: 8px;
        display: block;
        transition: transform 0.5s;
    }
    .layer{
        width: 400px;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.5),black);
        border-radius: 8px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 40px;
        transition: height 0.5s;
        flex-direction: column;
    }
    
    .row:hover .layer{
        height: 100%;
        width: 420px;
    }

    .banner .image img{
        width: 400px;
    }
}

footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: #000000;
    background: #E5E5E5;
}

footer span{
    color: #3c96d6;
}


@media(max-width:500px){
    html{
        font-size: 40%;
    }
    body{
        padding: 0%;
    }
    #menu{
        display: initial;
    }
    header{
        left: -120%;
    }
    header.active{
        left: 0%;
    }

    .container{
        box-sizing: border-box;
        width: 100%;
        height: 550px;
        border: .5rem solid white;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        background-color: #E5E5E5;
        margin-bottom: 20px;
    }

    .about .row-1 .image img{
        height: 200px;
        width: 250px;
        object-fit: cover;
        border: 1rem solid white;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    }
    
    .row img{
        height: 200px;
        width: 300px;
        border-radius: 8px;
        display: block;
        transition: transform 0.5s;
    }
    .layer{
        width: 300px;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.5),black);
        border-radius: 8px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 40px;
        transition: height 0.5s;
        flex-direction: column;
    }
    
    .row:hover .layer{
        height: 100%;
        width: 315px;
    }

    .banner .image img{
        height: 250px;
        width: 250px;
    }
    .container .languages{
        padding: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .languages ul{
        list-style: none;
        display: inline-block;
    }
    
    .languages ul li{
        display: inline;
    }
    
    .languages ul li img{
        width: 90px;
        height: 90px;
        padding: 20px;
    }
    
    .tools{
        padding: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .tools ul{
        list-style: none;
        display: inline-block;
    }
    
    .tools ul li{
        display: inline;
    }
    
    .tools ul li img{
        width: 90px;
        height: 90px;
        padding: 20px;
    }

    .col .contents{
        padding: 0px 20px;
        border-left: 1.5px solid #000000;
    }
    
    .col .contents .box1{
        position: relative;
        padding: 20px;
        border: 1px solid #E5E5E5;
        background-color: white;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
    }
    
    .col .contents .box1:hover{
        box-shadow: 0px 3px 12px 0px #E5E5E5;
        border: 1px solid transparent;
    }
    
    .col .contents .box1::before{
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        right: calc(100% + 11px);
        top: 0;
        background-color: #3c96d6;
        border: 2px solid white;
    }
    
    .box1 h4{
        position: relative;
        color: #3c96d6;
        font-size: 13px;
    }
    
    .box1 h3{
        font-size: 16px;
        padding: 10px 0 6px;
        color: #000000;
    }
    
    .box1 p{
        line-height: 1.2;
        color: #3f3273;
        font-size: 15px;
    }
    
    
}